body{
	margin:0;
}

header {
	background-color: #f6f6f6;
	padding:2px 15px;
	border-bottom: 10px solid #08e;
}

.page_header{
	padding:2px 15px;
	border-bottom: 15px solid #08e;
	margin-bottom: 15px;
}

.page_centering{
	margin: 0 auto;
	padding: 10px;
	max-width: 800px;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align:right;
}